/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global stylesheet */
html, body{
	padding:0;
	line-height: 1.5;
	height: 100%;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 14px;
	margin-top: 0em;
	margin-bottom: 1em;
}

form {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 14px;
	margin-top: 0em;
	margin-bottom: 2em;
}

table {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #cccccc;
}

th, td{
	padding: 5px;
}

th {
	background-color: #005072;
	color: #FFFFFF;
	font-weight: bold;	
}

td{
	border-bottom: 1px solid #cccccc;
}

#wrapper {
	min-height:100%;
	position:relative;
	min-width: 960px;
}

#header-wrap{
	width: 100%;
	background-color: #005072;
	border-top: 3px solid #bcd228;
}

#header{
	width: 50%;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}

#nav-wrap{
	width: 100%;
	background-color: #002839;
}

#nav{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	padding: 10px 10px 10px 10px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
	padding-right: 25px;
}

#nav a:visited, #nav a:link {
	color: #ffffff;
	text-decoration: none;
}
#nav a:hover, #nav a:active {
	color: #ffffff;
	text-decoration: underline;
}

#main-wrap{
	width: 100%;
	padding-bottom: 100px;
}

#main{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 80px 10px;
}

#main h1{
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: #002839;
}

#main h2{
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	color: #002839;
}

#main a:visited, #main a:link {
	color: #005072;
	text-decoration: none;
}
#main a:hover, #main a:active {
	color: #005072;
	text-decoration: underline;
}

#footer-wrap{
	width: 100%;
	background-color: #005072;
	height: 100px;
	position:absolute;
	bottom:0;
}

#footer{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	font-size: 0.5em;
	padding: 10px 10px 10px 10px;
}

.bold {
	font-weight: bold;
}

.success {
	color: #009900;
}

.error {
	color: red;
}

.left{ 
	display: inline;
	float: left;
	width: 50%;	
	padding: 0;
}

.right {
	display: inline;
	float: left;
	width: 50%;
	text-align: right;
	padding: 0;
}
.clear{
	clear: both;
}